*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #031b88, #6096fd, #aab6fb, #fb7b8e);
    background-size: 400% 400%;
    background-position: center;
    animation: change 10s ease-in-out infinite;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nametext{
    font-weight: 800;
    margin-top: 10px;
    font-size: 40px;
}
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #fd4059;
}

#about{
    padding: 80px 0;
    color: #444444;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1{
    flex-basis:35%;
}

.about-col1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col2{
    flex-basis: 60%;
}
.about-col2 p{
    margin-top: 15px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: black;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 60%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 20px;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 18px;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}



#links{
    padding: 30px 0;
}

.links-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:40px;
    margin-top: 50px;
}
.links-list a{
    text-decoration: none;
    color: white;
}

.links-list a div{
    background: #6096fd;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s, border-radius 0.5s;
}

.links-list a div i{
    font-size: 60px;
    margin-bottom: 30px;
}

.links-list a div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.links-list a div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.links-list a div:hover{
    background-color: #ff004f;
    border-radius: 20px;
    transform: translateY(-10px);
}

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width:100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6), #6096fd);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 300;
    margin-bottom: 20px;
}

.layer a{
    text-decoration: none;
    color: #ff004f;
    margin-top: 20px;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height:100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 50%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        right: -200px;
        top:0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        
    }
    .sidemenu{
        transition: all 0.5s;
    }
    
    .sidemenu.show_menu{
        display: block;
        margin-right: 200px;
    }
    .hide_menu{
        /*display: none;*/
        margin-right: -200px;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        cursor: pointer;
        top: 25px;
        left: 25px;
    }
    .sub-title{
        font-size:40px;
    }
    .about-col1, .about-col2{
        flex-basis:100%;
    }
    .about-col1{
        margin-bottom: 30px;
    }
    .about-col2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    
}